## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib.pyplot as plt

# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
import ipywidgets as widgets

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#vacation_df = pd.read_csv("./World_Weather_Analysis/Weather_Database/weather_database.csv")
vacation_df = pd.read_csv("./weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Hambantota,LK,79.74,broken clouds,6.1241,81.1185,Bungalow 63
1,7,Yilan,TW,77.00,overcast clouds,24.7570,121.7530,Dar Chen Hotel
2,10,Kapaa,US,80.60,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,13,Sorong,ID,79.95,light rain,-0.8833,131.2500,The Waigo Hotel
4,14,Rikitea,PF,78.62,clear sky,-23.1203,-134.9692,Pension Maro'i

#### In Steps 2-4, copy or refactor the code from Steps 11a-b of Deliverable 2 to create a marker layer map of the vacation search results.

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = clean_hotel_df[["Lat", "Lng"]]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
# 4b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
#locations = hotel_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Choose four cities that a customer might want to visit.

In [6]:
three_cities_df = vacation_df.loc[vacation_df["Country"] == "BR"]
three_cities_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,62,Sao Joao Da Barra,BR,75.90,scattered clouds,-21.6403,-41.0511,Pousada Porto De Canoas
40,147,Guapo,BR,78.80,clear sky,-16.8306,-49.5319,Lar de idosos de Guapó
46,170,Vila Velha,BR,80.60,light rain,-20.3297,-40.2925,Quality Suites Vila Velha
53,185,Caravelas,BR,78.26,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
55,193,Guaratinga,BR,78.80,clear sky,-16.5667,-39.5667,Hotel Caraíva

In [7]:
#Country: Brazil Cities: Natal,Vila Velha,Olinda,Maceio

In [8]:
vacation_df.loc[85]

City_ID                                     284
City                                      Natal
Country                                      BR
Max Temp                                   80.6
Current Description                  few clouds
Lat                                      -5.795
Lng                                    -35.2094
Hotel Name             Villa Park Hotel | Natal
Name: 85, dtype: object

In [9]:
vacation_df.loc[46]

City_ID                                      170
City                                  Vila Velha
Country                                       BR
Max Temp                                    80.6
Current Description                   light rain
Lat                                     -20.3297
Lng                                     -40.2925
Hotel Name             Quality Suites Vila Velha
Name: 46, dtype: object

In [10]:
vacation_df.loc[98]

City_ID                                     331
City                                     Olinda
Country                                      BR
Max Temp                                   80.6
Current Description               broken clouds
Lat                                     -8.0089
Lng                                    -34.8553
Hotel Name             Hotel Albergue de Olinda
Name: 98, dtype: object

In [11]:
vacation_df.loc[109]

City_ID                             364
City                             Maceio
Country                              BR
Max Temp                           77.0
Current Description    scattered clouds
Lat                             -9.6658
Lng                            -35.7353
Hotel Name               Poutur Pousada
Name: 109, dtype: object

#### In Step 5, use the variables we have provided and the loc method to create separate DataFrames for each city on the travel route.

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Natal"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Natal"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
85,284,Natal,BR,80.6,few clouds,-5.795,-35.2094,Villa Park Hotel | Natal

In [13]:
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Vila Velha"] 
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,170,Vila Velha,BR,80.6,light rain,-20.3297,-40.2925,Quality Suites Vila Velha

In [14]:
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Olinda"] 
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
98,331,Olinda,BR,80.6,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [15]:
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Maceio"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,364,Maceio,BR,77.0,scattered clouds,-9.6658,-35.7353,Poutur Pousada

#### In Step 6, use the to_numpy() function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
#stop4 = vacation_stop4["Lat"].to_numpy()[0],vacation_stop4["Lng"].to_numpy()[0]

In [17]:
latitude = [start,end,stop1,stop2,stop3]

In [18]:
latitude

[(-5.795, -35.2094),
 (-5.795, -35.2094),
 (-20.3297, -40.2925),
 (-8.0089, -34.8553),
 (-9.6658, -35.7353)]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Country: Brazil Cities: Natal,Vila Velha,Olinda,Maceio
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
Natal = start

#Quality_Suites_
Vila_Velha = stop1
#Hotel_Albergue_de_
Olinda = stop2 
#Poutur_Pousada 
Maceio	= stop3 
roadtrip = gmaps.directions_layer(Natal, Natal, 
                                  waypoints=[Vila_Velha, Olinda, Maceio],
                                  travel_mode="DRIVING")

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,284,Natal,BR,80.6,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
1,170,Vila Velha,BR,80.6,light rain,-20.3297,-40.2925,Quality Suites Vila Velha
2,331,Olinda,BR,80.6,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda
3,364,Maceio,BR,77.0,scattered clouds,-9.6658,-35.7353,Poutur Pousada

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))